#  Local .terraform directories
**/.terraform/*

# Local terraform files
backend.tf
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# plan files
plan.out
*.zip

.idea
.iml

.DS_Store
